<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Study 3.0</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>User Study 3.0</h1>
    <br/>
    <img src="../static/prototype3_0.png" alt="Prototype Image"><br/><br/>

    <form>
        <label for="userid">Your User ID:</label><br/>
        <input type="text" id="userid" name="userid"><br/>
        <label for="q1">What is your first reaction to this?</label><br/>
        <textarea id="q1" name="q1" rows="4" cols="80"></textarea><br/>

        <label for="q2">What is going through your mind as you look at this?</label><br/>
        <textarea id="q2" name="q2" rows="4" cols="80"></textarea><br/>

        <label for="q3">How does this compare to your expectations?</label><br/>
        <textarea id="q3" name="q3" rows="4" cols="80"></textarea><br/>

        <label for="q4">What can you do here?</label><br/>
        <textarea id="q4" name="q4" rows="4" cols="80"></textarea><br/>

        <label for="q5">What is this for?</label><br/>
        <textarea id="q5" name="q5" rows="4" cols="80"></textarea><br/>

        <label for="q6">Do you have any questions right now?</label><br/>
        <textarea id="q6" name="q6" rows="4" cols="80"></textarea><br/>

        <label for="q7">Why would somebody use this?</label><br/>
        <textarea id="q7" name="q7" rows="4" cols="80"></textarea><br/>

        <label for="q8">How do you think this is going to help you?</label><br/>
        <textarea id="q8" name="q8" rows="4" cols="80"></textarea><br/>

        <label for="q9">What is the first thing you would do?</label><br/>
        <textarea id="q9" name="q9" rows="4" cols="80"></textarea><br/>

        <input type="submit" value="Submit">
    </form>


</body>
</html>